.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100px;
  //border-bottom: 10px solid #fff;
  box-shadow: 0 0 30px 5px rgba(0,0,0,.3);
  text-align: center;
  align-items: center;
  color: darkblue;
  font-size: 35px;
  margin: 0 0;

  h1 {
    cursor: pointer;
  }
}
