/*Image source: https://2.bp.blogspot.com/--88HjYhJpJw/UZ5akPNgjLI/AAAAAAAAC0Y/Jt0_doM1dKY/s1600/Life%2Bin%2BWorld%2BWar%2BII%2B(4).jpeg*/

body {
  //margin: 0px;
  background-color: #dbdbdb;
}

.carousel {
  display: flex;
  position: relative;

  button {
    border: none;
    opacity: 0.5;
    z-index: 1;
    height: 150px;
    width: 150px;
    left: 20px;
    border-radius: 50%;
    align-self: center;
  }

  #wrapper-start, #wrapper-end {
    margin-top: 20px;
    overflow: hidden;
    width: 379px;
    height: 568px;
    box-shadow: 0 0 30px 5px rgba(0,0,0,.3);
    transform: rotate(-2deg);
    border: 10px solid #fff;
    opacity: 0.2;
    z-index: 2;
  }

  #wrapper-start {
    margin-left: auto;
    margin-right: 0;
  }

  #wrapper-end {
    margin-left: 0;
    margin-right: auto;
  }

  #wrapper-current {
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    width: 379px;
    height: 568px;
    box-shadow: 0 0 30px 5px rgba(0,0,0,.3);
    transform: rotate(-2deg);
    border: 10px solid #fff;
    z-index: 0;
  }
}
