
.badge {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  padding: 8px;
  background-color: darkblue;
  color: white;
  text-align: center;
  font: 15px sans-serif;
  font-weight: bold;
  position: absolute;
  top: 15px;
}
