body {
  margin: 0;
  background-color: #dbdbdb;
  font-family: 'Titillium Web', sans-serif;

  .wishlist-button {
    margin: 15px 20px;
    border: 10px solid #fff;
    box-shadow: 0 0 30px 5px rgba(0,0,0,.3);
    background-color: #fff;
    cursor: pointer;
    width: 170px;
    height: 37px;
    text-align: center;
  }

  .wishlist-button:hover {
    background-color: grey;
    border: 10px solid grey;
  }

  .wishlist-button:active {
    border: 10px solid #fff;
    background-color: #fff;
  }

  .go-back-button {
    border: none;
    font-size: 80px;
    height: 100px;
    width: 100px;
    border-radius: 20px;
    z-index: 1;
    background-color: lightgrey;
    cursor: pointer;
    margin: 20px 10px 10px 50px;
  }
}
